:root {
  --color-primary: #fff;
  --color-secondary: #ffffff90;
  --color-tertiary: #ffffff70;
  --color-accent: #aa5cdb;
  --color-bg-primary: #090b1a;
  --color-bg-card: #1b1938;

  --fs-xl: 3.5rem;
  --fs-600: 2.8rem;
  --fs-500: 2.2rem;
  --fs-400: 1.5rem;
  --fs-300: 1.3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-400);
  color: var(--color-secondary);
  background-color: var(--color-bg-primary);
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: var(--fs-600);
  font-weight: 700;
  color: var(--color-primary);
  margin-top: 0;
}

p {
  line-height: 1.8;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: var(--fs-xl);
  }
}

.card {
  background-color: var(--color-bg-card);
  width: 88%;
  max-width: 550px;
  margin: 10rem auto;
  border-radius: 10px;
  overflow: hidden;
}

.card__img {
  width: 100%;
  padding-top: 73.4%;
  background-image: url(../images/image-header-mobile.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  filter: contrast(170%) brightness(70%) sepia(10%);
  position: relative;
  grid-area: image;
}

.card__img::before {
  content: "";
  background-color: var(--color-accent);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.card__content {
  text-align: center;
  padding: 3rem;
  grid-area: content;
}

.accent-text {
  color: var(--color-accent);
}

.stats-group {
  margin-top: 3.5rem;
}

.stats__title {
  font-family: "Lexend Deca", sans-serif;
  font-size: var(--fs-300);
  font-weight: 400;
  color: var(--color-tertiary);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.stats {
  font-size: var(--fs-500);
  font-weight: 700;
  color: var(--color-primary);
}

.stats-pair + .stats-pair {
  margin-top: 2rem;
}

/* Attribution*/
.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 1px;
}
.attribution a {
  color: var(--color-primary);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.1s ease-out;
}

.attribution a:hover,
.attribution a:focus {
  color: var(--color-accent);
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    max-width: 1100px;
    margin: 0;
  }
  .card__img {
    background-image: url(../images/image-header-desktop.jpg);
    background-size: auto 100%;
    background-position: center;
  }

  .grid {
    display: grid;
  }
  .grid--2-colms {
    grid-template: "content image" / 52% 48%;
  }

  .grid--3-colms {
    grid-template-columns: repeat(3, 1fr);
  }

  .stats-group {
    margin-top: 6rem;
  }

  .stats-pair + .stats-pair {
    margin: 0;
  }

  .card__content {
    text-align: start;
    padding: 7rem 10rem 7rem 7rem;
  }
}
